/* Tag styling section */
hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 100%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 1px solid #aaaaaa;
       border-bottom: 1px solid #ffffff;
}
 
h2 {
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	color: #006600;
}

p {
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
}

a {
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	text-align: center;
}

/* ID styling section */
#pageTitle  {
	font-family: 'Helvetica', sans-serif;
	margin: 10px 0;
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	color: #006600;
}

#pageFooter  {
	font-family: 'Helvetica', sans-serif;
	padding-top: 10px;
	margin: 10px 0;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	color: gray;
}

#divTable {
	width: 100%;
	display: table;
}

#divTableRow {
	display: table-row;
}
 
#leftDiv {
	width: 40%;
	display: table-cell;
	border-right: thick solid #ffffff;
}
 
#rightDiv {
	width: 60%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding-right: 40px;
}

#linkTable {
	margin-left: auto;
	margin-right: auto;
}

#catTable {
	margin-left: auto;
	margin-right: auto;
}

/* Class styling section */
.profilePic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 50%;
}

.notLastLink {
	border-right: solid;
	border-right-width: 1px;
	padding-right: 5px;
	padding-left: 5px;
}

.lastLink {
	padding-right: 5px;
	padding-left: 5px;
}

.catPic {
	width: 250px;
	height: 250px;
	padding-left: 10px;
	padding-right: 10px;
}

.catNames {
	font-family: 'Helvetica', sans-serif;
	font-size: 20px;
	text-align: center;
}

.catBios {
	font-family: 'Helvetica', sans-serif;
	font-size: 14px;
	text-align: center;
	padding: 5px;
	width: 250px;
	height: 130px;
}

.homeLink {
	margin-left: auto;
	margin-right: auto;
}